<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multaqana Backend</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home-page">
    <h1 style="font-size: 3.75rem;">Multaqana Server <span style="color: green;  font-weight: bold;">is
            Running...</span>
    </h1>
    <p style="font-size: 2.5rem;">This is the entry point for the API.</p>

    <div style="margin-top: 40px; display: flex; gap: 10px; justify-content: center; flex-wrap: wrap;">
        <a href="/auth-docs" class="btn btn-large waves-effect waves-light blue darken-3">
            <i class="material-icons left">verified_user</i>Auth API
        </a>

        <a href="/content-docs" class="btn btn-large waves-effect waves-light teal darken-2">
            <i class="material-icons left">article</i>Content API
        </a>

        <a href="/settings-notifications-docs" class="btn btn-large waves-effect waves-light blue-grey darken-1">
            <i class="material-icons left">settings</i>Settings & Notifications
        </a>

        <a href="/chat.html" class="btn btn-large waves-effect waves-light green darken-1">
            <i class="material-icons left">chat</i>Real-time Chat
        </a>
        <a href="/media-docs" class="btn btn-large waves-effect waves-light purple darken-2">
            <i class="material-icons left">perm_media</i>Media API
        </a>

        <a href="/structure-docs" class="btn btn-large waves-effect waves-light orange darken-3">
            <i class="material-icons left">category</i>Structure API
        </a>

        <a href="/permissions" class="btn btn-large waves-effect waves-light red darken-3">
            <i class="material-icons left">lock</i>System Permissions
        </a>
    </div>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>

</html>